<form [formGroup]="expenses" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-12">
      <div class="row m-4 ">
        <div class="col-6">
          <div class="row">

            <div class="col-3">
              <button class="btn btn-success" type="submit" [disabled]="expenses.invalid">
                SAVE
              </button>
            </div>
            <div class="col-3">
              <button class="btn btn-primary" type="button" (click)="addAnExpense()">
                ADD
              </button>
            </div>
            <div class="col-3">
              <button class="btn btn-danger" type="reset">
                RESET
              </button>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-12" formArrayName="expensesArray">
          <div class="form-row mb-2"
          *ngFor="let expCtrl of expenses.controls['expensesArray'].controls; let i = index;"
          [formGroupName]="i">
            <div class="col">
              <input type="text" class="form-control" placeholder="name" formControlName="title">
            </div>
            <div class="col-7">
              <input type="text" class="form-control" placeholder="description" formControlName="description">
            </div>
            <div class="col">
              <input type="number" class="form-control" placeholder="amount" formControlName="amount">
            </div>
            <div class="col">
              <button class="btn btn-danger" (click)="deleteAnExpense(i)">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>
